extends base.jade
block content
  h1 Traconin Atlassian-tuotteiden kertakirjautumispalvelu
  p Tämä sivusto ei sisällä käyttäjän vaihdettavia osia.
  ul
    li: a(href='{{ kompassi }}') Kompassi
    li: a(href='https://confluence.tracon.fi') Wiki
    li: a(href='https://jira.tracon.fi') JIRA
